<div>
  <h2>記事タイトル：<%= @article.title %></h2>
  <% if @article.image_name %>
    <img src="<%= #{@article.image_name.url} %>">
  <% else %>
    <img src="", alt="NoImage">
  <% end %>
  <br>
  <h3>記事内容</h3>
  <%= @article.content %>

  <p>投稿日：<%= @article.created_at.strftime('%Y/%m/%d') %></p>
  <p>投稿ユーザ名：<%= @user.name %></p>

  <% if @current_user.id == @article.user_id %>
    <%= link_to("編集", "/article/#{@article.id}/edit") %>
  <% end %>

  <%= link_to("戻る", "/article/index") %>
  <br>
  <h2>コメント</h2>
  <%= form_tag("/article/#{@article.id}") do %>
    <textarea name="comment"></textarea>
    <input type="submit" value="コメント投稿">
  <% end %>
  <% @comments.each do |comment| %>
    <hr>
    <p>ユーザ名：<%= comment.user_name %></p>
    <p>コメント内容：<%= comment.comment %></p>
    <p>投稿日時：<%= comment.created_at.strftime('%Y/%m/%d %H:%M') %></p>
  <% end %>
</div>  