<div>
  <h2>記事タイトル：<%= @article.title %></h2>
  <h3>記事内容</h3>
  <%= @article.content %>
  <h3>記事イメージ</h3>
  <% if @article.image.url %>
    <%= image_tag @article.image.url, size: "100x100" %>
  <% else %>
    <%= image_tag "noimage.jpg" , size: "100x100" %>
  <% end %>

  <p>投稿日：<%= @article.created_at.strftime('%Y/%m/%d') %></p>
  <p>投稿ユーザ名：<%= @user.name %></p>

  <% if session[:user_id] == @article.user_id %>
    <%= link_to("編集", "/article/#{@article.id}/edit") %>
  <% end %>

  <%= link_to("戻る", "/article/index") %>
  <br>
  <h2>コメント</h2>
  <%= form_tag("/article/#{@article.id}") do %>
    <textarea name="comment"></textarea>
    <input type="submit" value="コメント投稿">
  <% end %>
  <% @comments.each do |comment| %>
    <hr>
    <p>ユーザ名：<%= comment.user.name %></p>
    <p>コメント内容：<%= comment.comment %></p>
    <p>投稿日時：<%= comment.created_at.strftime('%Y/%m/%d %H:%M') %></p>
    <% if session[:user_id] == comment.user_id %>
      <%= link_to("記事編集", "/comment/#{comment.id}/edit") %>
      <%= link_to("記事削除", "/comment/#{comment.id}/destroy", {method: :post}) %>
    <% end %>
  <% end %>
</div>  